*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus{outline: none;}
html{
    /*font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;*/
    text-rendering: optimizeLegibility;
}

.under-bg{
    background-image: -webkit-linear-gradient(rgba(47, 47, 47, 0.6), rgba(47, 47, 47, 0.3)), url(img/macbook.jpg);
    background-image: linear-gradient(rgba(47, 47, 47, 0.6), rgba(47, 47, 47, 0.3)), url(img/macbook.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto;
}
#under-txt{
    color:#fff;
    padding-top:30vh;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}
